/* -------- [START] Overwrite ---------- */
.product-details-area > a{
    display: block;
}
/* -------- [END] Overwrite ---------- */

/* -------- [START] General ---------- */
figure{
    margin: 0 auto;
}
header ~ .container .jm-landing-page a.jm-text-cta-light:not(.btn-primary):not(.btn-outline-primary){
    color: white;
    border-bottom: solid 1px;
}
header ~ .container .jmr-all-cb a.jm-cta-light:not(.btn-primary):not(.btn-outline-primary){
    color: white;
}
.jmr-mobile{
    display: block;
}
.jmr-desktop{
    display: none;
}
.jmr-desktop-inline{
    display: none;   
}
/* -------- [END] General ---------- */

/* --------- [START] All Content Blocks --------- */
.jmr-all-cb img{
	width: 100%;
}
.jmr-all-cb{
	position: relative;
    margin: 0 auto;
}
.jmr-clickable-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;    
}
.jmr-all-wrapper article{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;   
}
.jmr-all-wrapper article > div{
    width: 100%;	
}

/* [START] COPY  */
.jmr-all-cb article h2,
.jmr-all-cb article h3,
.jmr-all-cb article p{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;    
    letter-spacing: 0.05em;
    line-height: 1;
    margin: 0;
}
.jmr-disclaimer{
    font-size: 0.8em;	
}
.jmr-all-wrapper h2.jmrv-header-2,
.jmrv-header-2{
    margin: 2% 0 0;
}
.jmr-all-cb article .jmr-header-2{
    font-size: 3em;
    font-weight: bold;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.05em;    
}
.jmr-all-cb article .jmr-header-3{
    font-size: 1.4em;
    font-weight: normal;
    font-weight: 500;
    margin: 1% 0 0;
}
.jmr-red{
    color:#e2342c;
}
/* [END] COPY  */

/* [START] CTAs  */

.jmr-ctas .jmr-cta-button{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;    
    font-size: 0.76em;
    min-width: auto;
    font-weight: bold;
    font-weight: 700;
    letter-spacing: 0.13em;
    padding: 0.63em 2em;
    border: solid 1px;
    position: relative;
    z-index: 2;
    margin-left: 1%;   
}
a.jmr-cta-text{
    border-bottom: solid 1px;
}
.jmr-ctas a:first-of-type{
    margin-left: 0%;
}

.jmr-cta-button-dark,
header ~ .jmr-ctas span.jmr-cta-button-dark,
header ~ .jmr-ctas a.jmr-cta-button-dark{
    background: none;
    color:#000000 !important;
    border-color: #000000;
}
.jmr-cta-button-dark:hover,
.jmr-cta-button-dark:focus,
header ~ div.container span.jmr-cta-button-dark:hover,
header ~ div.container a.jmr-cta-button-dark:hover,
header ~ div.container span.jmr-cta-button-dark:focus,
header ~ div.container a.jmr-cta-button-dark:focus{
    background: #000000;
    color:#ffffff !important;
    border-color: #000000;
}
.jmr-cta-button-soliddark,
header ~ .jmr-ctas span.jmr-cta-button-soliddark,
header ~ .jmr-ctas a.jmr-cta-button-soliddark{
    background: #000000;
    color:#ffffff !important;
    border-color: #000000 !important;
}
.jmr-cta-button-soliddark:hover,
.jmr-cta-button-dark:focus,
header ~ div.container span.jmr-cta-button-soliddark:hover,
header ~ div.container a.jmr-cta-button-soliddark:hover,
header ~ div.container span.jmr-cta-button-soliddark:focus,
header ~ div.container a.jmr-cta-button-soliddark:focus{
    background: #ffffff;
    color:#000000 !important;
    border-color: #000000 !important;
}

header ~ div.container span.jmr-cta-button-light,
header ~ div.container a.jmr-cta-button-light,
span.jmr-cta-button-light,
a.jmr-cta-button-light{
    background: none;
    color:#ffffff !important;
    border-color: #ffffff;
}
.jmr-cta-button-light:hover,
.jmr-cta-button-light:focus,
header ~ div.container span.jmr-cta-button-light:hover,
header ~ div.container a.jmr-cta-button-light:hover,
header ~ div.container span.jmr-cta-button-light:focus,
header ~ div.container a.jmr-cta-button-light:focus{
    background: #ffffff;
    color:#000000 !important;
    border-color: #ffffff;
}
.jmr-cta-button-solidlight,
header ~ div.container span.jmr-cta-button-solidlight,
header ~ div.container a.jmr-cta-button-solidlight,
a.jmr-cta-button-solidlight{
    background: #ffffff;
    color:#000000 !important;
    border-color: #ffffff !important;
}
.jmr-cta-button-solidlight:hover,
.jmr-cta-button-solidlight:focus,
header ~ div.container span.jmr-cta-button-solidlight:hover,
header ~ div.container a.jmr-cta-button-solidlight:hover,
header ~ div.container span.jmr-cta-button-solidlight:focus,
header ~ div.container a.jmr-cta-button-solidlight:focus{
    background: #000000;
    color:#ffffff !important;
    border-color: #ffffff !important;
}
strong.jmr-break-on-mobile{
    font-weight: bold;
    font-weight: 700;
}
/* [END] CTAs  */

/* --------- [END] All Content Blocks --------- */


/* --------- [START] Browse Banners --------- */
.plp-wrapper .product-search-wrapper > div.search-banner{
    width: 100%;
    -ms-flex-order: -1;
    order: -1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    display: block !important;
    height: 100% !important;
    padding: 0;
}
.jmr-bb-wrapper{
    padding-top: calc((190em / 1410) * 100);
}
#jm-bb-disclaimer:target {
    outline: 2px solid #51aeff;
}
.jm-bb-disclaimer{
    font-size: 8px;
    width: 94%;
    margin: 0 auto;
    letter-spacing: 0;
    line-height: 1.5;
    text-align: left;
}
.jmr-bb-wrapper{
    background-size: cover;
    background-position: 50% 0;
    position:relative;
    text-align:center;    
}
.jmr-bb-ctas{
	height: 100%;
    display: inherit;
    margin: 2% 0 0;
}
.jmr-bb-wrapper article{
    font-size: 1.88vw;
}
.jmr-bb-wrapper article p{
    margin: 1% 0;
}
.jmr-bb-subheader sup,
.jmr-bb-header sup{
    font-size: 0.75em;
    top:-0.1em;
    color: white;
    top:-.35em;
}
.jmr-bb-ctas a{
    font-size: 0.55rem;
    margin: 1% 1%;
    min-width: 230px;
    border: solid 1px;
    font-weight: bold;
    font-weight: 700;
}
/* --------- [END] Browse Banners --------- */


/* --------- [START] HERO --------- */
.jmr-hero-cb .jmr-ctas{
    margin: 2em 0 0;
    display: block;
}

.jmr-hero-cb article .jm-header-2{
    font-size: 3em;
    font-weight: bold;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.05em;
}
.jmr-hero-cb article .jm-header-3{
    font-size: 1.4em;
    font-weight: normal;
    font-weight: 500;
    margin: 1% 0 0;
}
/* --------- [END] HERO --------- */

@media screen and (min-width: 700px){
/* -------- [START] General ---------- */
.jmr-mobile{
    display: none;
}
.jmr-desktop{
    display: block;
}
.jmr-desktop-inline{
    display: inline-block;
}
/* -------- [END] General ---------- */

/* --------- [START] Hero --------- */
.jmr-hero-cb article{
    font-size: 1vw;
    width: 50%;
}
/* --------- [END] Hero --------- */


/* --------- [START] Browse Banners --------- */
.jmr-bb-wrapper article{
    font-size: 1.3vw;
}
.jmr-bb-wrapper .jm-bb-disclaimer{
    font-size: 0.53em;
}
/* --------- [END] Browse Banners --------- */

/* --------- [START] Half Hero --------- */
.jmr-half-hero-content-block{
    overflow: auto;
}
.jmr-half-hero-content-block article{
    position: absolute;
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
}
.jmr-half-hero-content-block article > div{
    width: 100%;    
}
.jmr-half-hero-content-block figure{
    background-size: contain;
    background-repeat: no-repeat;
}
/* --------- [END] Half Hero --------- */

}


@media screen and (min-width: 769px){

/* --------- [START] Browse Banners --------- */
.plp-wrapper .product-search-wrapper > div.search-banner{
    padding: 0 1.5em;
}
/* --------- [END] Browse Banners --------- */
}



@media screen and (min-width: 1100px){
/* [START] CTAs  */
.jmr-ctas .jmr-cta-button,
.jmr-ctas .jmr-cta-button{
    min-width: 163px;
}
/* [END] CTAs  */

/* --------- [START] Browse Banners --------- */
.jmr-bb-wrapper article{
    font-size: 0.6vw;
}
.jmr-bb-ctas{
    padding: 0 5vw;
}
.jmr-bb-ctas a{
    font-size: 0.9vw;
    min-width: 21vw;
    margin: 1% 0.3vw;
}
/* --------- [END] Browse Banners --------- */


}


@media screen and (min-width: 1300px){
/* [START] CTAs  */
.jmr-ctas .jmr-cta-button,
.jmr-ctas .jmr-cta-button{
    min-width: 193px;
}
/* [END] CTAs  */

/* --------- [START] Browse Banners --------- */
.jmr-bb-wrapper{
    padding-top: calc((250% / 1410) * 100);
}
.jmr-bb-ctas{
    padding: 0 1vw;
}
.jmr-bb  .jm-bb-disclaimer{
    font-size: 0.63em;
}
.jmr-bb-ctas a{
    font-size: 0.64vw;
    min-width: 15vw;
}
/* --------- [END] Browse Banners --------- */

}

@media screen and (min-width: 1500px){
/* --------- [START] Browse Banners --------- */
.jmr-bb-ctas{
    padding: 0 2em;
}
.jmr-bb-ctas a{
    font-size: 0.6vw;
    min-width: 14.5vw;
}
.jmr-bb  .jm-bb-disclaimer{
    font-size: 0.73em;
    text-align: center;    
}
/* --------- [END] Browse Banners --------- */

}

@media screen and (min-width: 1600px){
/* --------- [START] Hero --------- */
.jmr-hero-cb article{
    font-size: 1em;
}
/* --------- [END] Hero --------- */
}

@media screen and (min-width: 1700px){
/* --------- [START] Browse Banners --------- */
.jmr-bb-ctas a{
    font-size: 0.93em;
    min-width: 23.5em;
}
.jmr-bb-ctas a{
    font-size: 0.93em;
    min-width: 23.5em;
    margin: 1%;
}
.jmr-bb-wrapper article{
    font-size: 0.73em;
}
/* --------- [END] Browse Banners --------- */

}


@media screen and (max-width: 700px){

/* -------- [START] General ---------- */
.jmr-break-on-mobile{
    display: block;
}
/* -------- [END] General ---------- */

/* [START] Copy  */
.jmr-all-cb article .jmr-header-2{
    font-weight: bold;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0;    
}
.jmr-all-cb .jmr-header-3{
    line-height: 1.3;
}
.jmr-all-cb .jmr-header-3 strong{
    display: block;
}
/* [END] Copy  */

/* [START] CTAs  */
.jmr-all-cb{
    margin: 0 0 8%;
}
.jmr-all-cb article{
    font-size: 2.6vw;
    text-align: center;
    margin: 3% 0 0;
}
.jmr-ctas{
    text-align: center;
}
.jmr-ctas a.jmr-cta-button,
.jmr-ctas span.jmr-cta-button{
    border: solid 1px #000000 !important;
    color: #000000 !important;
    background: #ffffff !important;
    min-width: 45%;
    font-size: 2.7vw;
}

.jmr-ctas a:hover,
.jmr-ctas a:focus,
.jmr-ctas span:hover,
.jmr-ctas span:focus{
    border-color: #000000 !important;
    color: #ffffff !important;
    background: #000000 !important;
}
/* [END] CTAs  */
}